name: Build DEBUG APK

on: [push,pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: install dependencies
      uses: steebchen/flutter@v1.1.0
      with:
        args: pub get

    - name: build apk
      uses: steebchen/flutter@v1.1.0
      with:
        args: build apk --debug --split-per-abi
    
    - name: Get the version
      id: get_version
      run: echo ::set-output name=COMMIT::$(git rev-parse --short "$GITHUB_SHA") && echo ::set-output name=BRANCH::${GITHUB_REF##*/}
    
    - name: Create a Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/flutter-apk/*.apk"
        tag: "${{ steps.get_version.outputs.BRANCH }}_${{ steps.get_version.outputs.COMMIT }}"
        token: ${{ secrets.GITHUB_TOKEN }}
